<div class="p-4 text-center w-screen h-screen bg-black">
  <h1 class="mt-8 text-white leading-none font-black text-8xl uppercase">Start</h1>
  <h2 style="color: green;" class="leading-none font-black text-6xl uppercase">Game</h2>
  <optgroup class="text-white pt-8">
    <option class="m-4 cursor-pointer">Play Game</option>
    <option class="m-4 cursor-pointer">Exit Game</option>
  </optgroup>
</div>
